body{
  margin: 0;
}

.sub-container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-bottom: 40px;
  font-size: 25px;
}

.sub-container > div, .sub-container > img, .sub-container > iframe{
  grid-column: 2/3;
  margin-top: 40px;

}

iframe, .highlightedWords{
  justify-self: center;
}

.header{
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100vw;
  /* margin-top: 50px; */
  margin-bottom: 110px;
}

iframe{
  border-radius: 2%;
}

.title{
  font-weight: 500;
  font-size: 50px;
  background-color: #ea2189;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 40px;
}

.demo{
  margin-top: 40px;
}

.demo, .steps, .almostDone{
  font-size: 30px;
  font-weight: 500;
}

.almostDone{
  font-weight: 900;
  color: #ea2189;
  justify-self: center;
}

img{
  justify-self: center;
  margin-bottom: 80px;
}

.stepsContainer{
  background-color: #3ebeb0;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 110px;
}

.vegaText{
  background-color: lightgray;
  padding: 40px;
}